<mat-accordion>
	<mat-expansion-panel fxLayout="column" fxFlex fxLayoutAlign="space-between stretch">
		<mat-expansion-panel-header [ngStyle.xs]="{'font-size.px': 12}">
			<mat-panel-title>Or, Register</mat-panel-title>
			<mat-panel-description>Type your registration info here</mat-panel-description>
		</mat-expansion-panel-header>
		<ng-template matExpansionPanelContent>
			<form [ngStyle.xs]="{'font-size.px': 12}" fxFlex fxLayout="column">
				<mat-form-field>
					<input matInput type="email" placeholder="Email:" #email required />
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Your name:" #name />
				</mat-form-field>
				<mat-form-field>
					<mat-select #role placeholder="Role:" required>
						<mat-option disabled>Select one:</mat-option>
						<mat-option value="manager">Manager</mat-option>
						<mat-option value="sales">Sales</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Phone number:" #phone/>
				</mat-form-field>
				<mat-form-field>
					<input type="password" #pwd matInput placeholder="Password" required />
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" placeholder="Confirm your password:" #pwd2 required />
					<mat-error [hidden]="pwd.value === pwd2.value">
						The two password nust be <strong>identical</strong>.
					</mat-error>
				</mat-form-field>
				<app-image-upload #image></app-image-upload>
				<input type="text" #hp hidden />
				<mat-action-row>
					<button type="submit" mat-raised-button routerLink="/"
						[ngStyle.xs]="{'font-size.px': 12}" (click)="register(
						hp.value,
						name.value,
						role.value,
						phone.value,
						email.value,
						image.selectedFile,
						pwd.value,
						pwd2.value);">
						Register
					</button>
				</mat-action-row>
			</form>
		</ng-template>
	</mat-expansion-panel>
</mat-accordion>
