<form fxFlex fxLayout="column" [ngStyle.xs]="{'font-size.px': 13}">
	<mat-form-field>
		<input matInput type="email" placeholder="Email:" name="email"
			[(ngModel)]="adminInEditing.email" required />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="text" placeholder="Name:"
			[(ngModel)]="adminInEditing.name" name="name" />
	</mat-form-field>
	<mat-form-field>
		<mat-select placeholder="Role:" required
			[(ngModel)]="adminInEditing.role" name="role">
			<mat-option disabled>Select one:</mat-option>
			<mat-option value="manager">Manager</mat-option>
			<mat-option value="sales">Sales</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="text" placeholder="Phone number:"
			[(ngModel)]="adminInEditing.phone" name="phone" />
	</mat-form-field>
	<mat-form-field>
		<input type="password" matInput placeholder="Password:" required
			[(ngModel)]="adminInEditing.password" name="password" />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="password" placeholder="Confirm the password:" #pwd2 required />
		<mat-error [hidden]="adminInEditing.password === pwd2.value">
			The two password nust be <strong>identical</strong>.
		</mat-error>
	</mat-form-field>
	<img *ngIf="adminInEditing.image_url && !image.selectedFile"
		src="{{adminInEditing.image_url}}" alt="Profile Picture"
		style="height: 130px; margin: 0 auto; border-radius: 5%;" />
	<app-image-upload #image></app-image-upload>
	<input type="text" #hp hidden />
	<mat-divider></mat-divider>
	<button type="submit" mat-raised-button *ngIf="!adminInEditing.id" (click)="addAdmin(
		hp.value,
		pwd2.value,
		image.selectedFile);">
		Save
	</button>
	<button type="submit" mat-raised-button *ngIf="adminInEditing.id" (click)="updateAdmin(
		hp.value,
		pwd2.value,
		image.selectedFile);">
		Update
	</button>
	<button type="button" mat-raised-button color="warn" *ngIf="adminInEditing.id"
		(click)="deleteAdmin(adminInEditing.id);">
		Delete
	</button>
</form>
