<mat-card>
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<h4 mat-h4>Administrators</h4>
		<button mat-raised-button (click)="openBottomSheet();" matTooltip="Add an Admin."
			matTooltipPosition="below">
			+
		</button>
	</div>
</mat-card>
<mat-card>
	<mat-list role="list">
		<mat-list-item role="listitem" *ngFor="let admin of admins;"
			(click)="openEditAdminPage(admin);" matTooltip="Click here to edit.">
			<img matListAvatar src="{{admin.image_url}}" alt="Profile picture" />
			<p matLine #name class="{{admin.id}}">{{admin.name}}</p>
			<p matLine>&#9993; {{admin.email}}</p>
			<p matLine>&#9742; {{admin.phone}}</p>
			<p matLine>{{admin.role}}</p>
		</mat-list-item>
	</mat-list>
</mat-card>
