<form [ngStyle.xs]="{'font-size.px': 12}" fxFlex fxLayout="column">
	<mat-form-field>
		<input matInput type="text" placeholder="Course's name:" required
			[(ngModel)]="courseInEditing.name" name="name" />
	</mat-form-field>
	<mat-form-field>
		<textarea matInput type="text" placeholder="Course's description:"
			[(ngModel)]="courseInEditing.description" name="desc">
		</textarea>
	</mat-form-field>
	<h5>The course's students:</h5>
	<div fxLayout="row wrap" fxLayoutGap="5px">
		<span *ngFor="let student of courseInEditing.students;">
			<input type="checkbox" name="c#{{student.id}}" id="c#{{student.id}}"
				checked disabled value="{{student.id}}" />
			<label for="c#{{course.id}}">{{course.name}}</label>
		</span>
	</div>
	<br />
	<img *ngIf="courseInEditing.image_url && !image.selectedFile"
		src="{{courseInEditing.image_url}}" alt="Profile Picture"
		style="height: 130px; margin: 0 auto; border-radius: 5%;" />
	<app-image-upload #image></app-image-upload>
	<mat-divider></mat-divider>
	<button mat-raised-button type="button" *ngIf="!courseInEditing.id"
		(click)="addCourse(image.selectedFile);">
		Save
	</button>
	<button mat-raised-button type="button" *ngIf="courseInEditing.id"
		(click)="updateStudent(image.selectedFile);">
		Update
	</button>
	<button type="button" mat-raised-button color="warn" *ngIf="courseInEditing.id"
		(click)="deleteCourse(courseInEditing.id);">
		Delete
	</button>
</form>
