<mat-card>
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<h4 mat-h4>Courses</h4>
		<button mat-raised-button (click)="openBottomSheet();" matTooltip="Add a course."
			matTooltipPosition="below">
			+
		</button>
	</div>
</mat-card>
<mat-card>
	<mat-list role="list">
		<mat-list-item role="listitem" *ngFor="let course of courses;"
			(click)="openEditCoursePage(course);" matTooltip="Click here to edit.">
			<img matListAvatar src="{{course.image_url}}" alt="Course photo" />
			<p matLine class="{{course.id}}">{{course.name}}</p>
			<p matLine>{{course.description}}</p>
			<p>{{arrToStr(course.students)}}</p>
		</mat-list-item>
	</mat-list>
</mat-card>
