<nav>
	<mat-toolbar>
		<mat-list fxFlex fxLayout="row" fxLayoutAlign="space-between stretch"
			fxHide.xs="true" fxHide.gt-xs="false">
			<mat-list-item fxFlex>
				<button routerLink="/" mat-button *ngIf="userInfo.role !== 'sales'"
					matTooltip="Back home.">
					<strong>The School</strong>
				</button>
				<button routerLink="/student-list" mat-button *ngIf="userInfo.role === 'sales'"
					matTooltip="Back home.">
					<strong>The School</strong>
				</button>
			</mat-list-item>
			<mat-list-item fxFlex>
				<button routerLink="admin" mat-button [disabled]="userInfo.role === 'sales'"
					*ngIf="isLoggedIn()" matTooltip="Admins only here.">
					Administration
				</button>
			</mat-list-item>
			<mat-list-item fxFlex matTooltip="That's you!">
				<img matListAvatar *ngIf="isLoggedIn()" src="{{userInfo.image_url}}"
					alt="" fxLayoutAlign="center center" />
				<div fxLayout="column" fxLayoutAlign="center center">
					<span *ngIf="isLoggedIn()"><strong>{{userInfo.name}}</strong></span>
					<span *ngIf="isLoggedIn()">{{userInfo.role}}</span>
				</div>
			</mat-list-item>
			<mat-list-item fxFlex>
				<button mat-button *ngIf="isLoggedIn()" fxFlex (click)="logout();" routerLink="/"
					matTooltip="Bye Bye!">
					Logout
				</button>
			</mat-list-item>
		</mat-list>

		<button mat-icon-button [matMenuTriggerFor]="menu" fxHide.xs="false"
			matTooltip="Main menu." matTooltipPosition="right" fxHide.gt-xs="true">
			&#9776;
		</button>
		<mat-menu #menu="matMenu">
			<button routerLink="/" mat-button *ngIf="userInfo.role !== 'sales'"
				matTooltip="Back home." matTooltipPosition="right">
				<strong>The School</strong>
			</button>
			<button routerLink="/student-list" mat-button *ngIf="userInfo.role === 'sales'"
				matTooltip="Back home." matTooltipPosition="right">
				<strong>The School</strong>
			</button>
			<button mat-menu-item routerLink="admin" *ngIf="isLoggedIn()"
				[disabled]="userInfo.role === 'sales'"
				matTooltip="Admins only here." matTooltipPosition="right">
				Administration
			</button>
			<div matTooltip="That's you!" matTooltipPosition="right">
				<img *ngIf="isLoggedIn()" src="{{userInfo.image_url}}"
					alt="" fxLayoutAlign="center center" style="width: 200px;" />
				<div fxLayout="column" fxLayoutAlign="center center">
					<span *ngIf="isLoggedIn()" fxFlex><strong>{{userInfo.name}}</strong></span>
					<span *ngIf="isLoggedIn()" fxFlex>{{userInfo.role}}</span>
				</div>
			</div>
			<button mat-menu-item *ngIf="isLoggedIn()" fxFlex (click)="logout();" routerLink="/"
				matTooltip="Bye Bye!" matTooltipPosition="right">
				Logout
			</button>
		</mat-menu>
	</mat-toolbar>
</nav>
