<mat-accordion>
	<mat-expansion-panel fxLayout="column" fxFlex fxLayoutAlign="space-between stretch">
		<mat-expansion-panel-header [ngStyle.xs]="{'font-size.px': 12}">
			<mat-panel-title>
				Login
			</mat-panel-title>
			<mat-panel-description>
				Type your email and password
			</mat-panel-description>
		</mat-expansion-panel-header>
		<ng-template matExpansionPanelContent>
			<form [ngStyle.xs]="{'font-size.px': 12}" fxFlex fxLayout="column">
				<mat-form-field>
					<input matInput type="email" #email placeholder="Email" required />
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" #password placeholder="Password" required />
				</mat-form-field>
				<input type="text" name="hp" placeholder="Hp:" #hp hidden />
				<mat-action-row>
					<button mat-raised-button routerLink="/"
						(click)="login(hp.value, email.value, password.value);">
						Login
					</button>
				</mat-action-row>
			</form>
		</ng-template>
	</mat-expansion-panel>
</mat-accordion>
