<form fxFlex fxLayout="column" [ngStyle.xs]="{'font-size.px': 13}">
	<mat-form-field>
		<input matInput type="text" [(ngModel)]="studentInEditing.name"
			name="name" placeholder="Student's name:" required />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="text" [(ngModel)]="studentInEditing.phone"
			name="phone" placeholder="Student's phone number:" />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="text" [(ngModel)]="studentInEditing.email"
			name="email" placeholder="Student's email:" />
	</mat-form-field>
	<h5>Select the student's courses:</h5>
	<div fxLayout="row wrap" fxLayoutGap="5px">
		<span *ngFor="let course of courses;">
			<input type="checkbox" name="c#{{course.id}}" id="c#{{course.id}}"
				[checked]="studentInEditing.courses && studentInEditing.courses.includes(course.id)"
				value="{{course.id}}"
				[(ngModel)]="course.isChecked" />
			<label for="c#{{course.id}}">{{course.name}}</label>
		</span>
	</div>
	<br />
	<img *ngIf="studentInEditing.image_url && !image.selectedFile"
		src="{{studentInEditing.image_url}}" alt="Profile Picture"
		style="height: 130px; margin: 0 auto; border-radius: 5%;" />
	<app-image-upload #image></app-image-upload>
	<mat-divider></mat-divider>
	<button mat-raised-button type="button" *ngIf="!studentInEditing.id"
		(click)="addStudent(image.selectedFile);">
		Save
	</button>
	<button mat-raised-button type="button" *ngIf="studentInEditing.id"
		(click)="updateStudent(image.selectedFile);">
		Update
	</button>
	<button type="button" mat-raised-button color="warn" *ngIf="studentInEditing.id"
		(click)="deleteStudent(studentInEditing.id);">
		Delete
	</button>
</form>
