<mat-card>
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<h4 mat-h4>Students</h4>
		<button mat-raised-button (click)="openBottomSheet();" matTooltip="Add a student."
			matTooltipPosition="below">
			+
		</button>
	</div>
</mat-card>
<mat-card>
	<mat-list role="list">
		<mat-list-item role="listitem" *ngFor="let student of students;"
			(click)="openEditStudentPage(student);" matTooltip="Click here to edit.">
			<img matListAvatar src="{{student.image_url}}" alt="Profile picture" />
			<p matLine class="{{student.id}}">{{student.name}}</p>
			<p matLine>&#9993; {{student.email}}</p>
			<p matLine>&#9742; {{student.phone}}</p>
		</mat-list-item>
	</mat-list>
</mat-card>
