/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	border-bottom-style: none;
}
