<div *ngIf="currentUser.role !== 'sales'" fxLayout.gt-sm="row" fxLayout.lt-sm="column"
	fxLayoutGap="5px">
	<app-student-list fxLayout="column" fxFlex="50%"></app-student-list>
	<app-course-list fxLayout="column" fxFlex="50%"></app-course-list>
</div>
<app-student-list *ngIf="currentUser.role === 'sales'" fxLayout="column"></app-student-list>
